
<div class="page-wrapper" id="dashboard_wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="page-title">Welcome</h4>             
      </div>
      <div class="col-xs-8 text-right mb-30">
        <div class="view-icons">
        <span (click)="getDashboard()" class="btn btn-link active" >
          <i class="fa fa-refresh"></i>
        </span>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
          <span class="dash-widget-icon"><i class="fa fa-cubes" aria-hidden="true"></i></span>
          <div class="dash-widget-info">
            <h3>{{projectCount}}</h3>
            <span>Projects</span>
          </div>
          <div class="dash-widget-action"><button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>Add new project</button></div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
          <span class="dash-widget-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
          <div class="dash-widget-info">
            <h3>{{employeeCount}}</h3>
            <span>Employees</span>
          </div>
          <div class="dash-widget-action"><button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>Add new employee</button></div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box" style="min-height:155px">
          <span class="dash-widget-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>
          <div class="dash-widget-info">
            <h3>00</h3>
            <span>--</span>
          </div>          
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box" style="min-height:155px">
          <span class="dash-widget-icon"><i class="fa fa-diamond" aria-hidden="true"></i></span>
          <div class="dash-widget-info">
            <h3>00</h3>
            <span>--</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>