<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <h4 class="page-title">Employee Daily Attendance</h4>
      </div>
    </div>
    <div class="card-box">
      <div class="card-header">
        <!-- If no project is selected show message-->
        <div class="alert alert-primary show" role="alert" *ngIf="employees == null || employees.length == 0">
          <strong>Select project to get list of project employees for attendance update.</strong>
        </div>
        <div class="row filter-row">
          <div class="col-sm-3 col-xs-6">
            <div class="form-group form-focus">
              <label class="control-label">Project Name</label>
              <select class="select floating form-control" [(ngModel)]="project" name="Project" #Project="ngModel"
                (change)="searchEmployee()">
                <option value="{{item.id}}" *ngFor="let item of projects">{{item.title}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="form-group form-focus focused">
              <label class="control-label">Date</label>
              <input type="text" class="form-control floating" [disabled]="true" value="{{today | parseDate}}" />
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="form-group form-focus focused">
              <label class="control-label">Project Employee Count</label>
              <input type="text" class="form-control floating" [disabled]="true" value="{{employeeCount}}" />
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
            <button class="btn btn-success btn-block" (click)="captureAttendance()"
              [disabled]="isAttendanceDone">Save</button>
          </div>
          <div class="col-sm-1 col-xs-1">
            <div class="dropdown profile-action">
              <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                  class="fa fa-ellipsis-v"></i></a>
              <ul class="dropdown-menu pull-right">
                <li><a data-toggle="modal" data-target="#"><i class="fa fa-pencil m-r-5"></i>
                    Make Unavailable </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- Project Employee Table starts-->
        <div class="table-responsive" *ngIf="employees != null">
          <table class="table table-bordered mb-0" id="tblAttendance">
            <thead>
              <tr>
                <th rowspan="2">Card #</th>
                <th rowspan="2">Employee Name</th>
                <th rowspan="2">Position</th>
                <th colspan="7">Last 7 days Attendance</th>
                <th rowspan="2">Today</th>
                <th colspan="3">Last 3 Months Attendance</th>
                <th rowspan="2">Joining Date</th>
                <th rowspan="2">Phone</th>
              </tr>
              <tr>
                <th *ngFor="let d of dates">{{d}}</th>
                <th *ngFor="let month of last3Months">{{month}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of employees;  let i = index;">
                <td>{{emp.employeeCode}} <span class="hidden Id-{{i}}">{{emp.projectEmployeeId}}</span></td>
                <td>{{emp.employeeName}}</td>
                <td>{{emp.position}}</td>
                <td *ngFor="let att of emp.employeeAttendance">
                  <span class="attendance-dot" title="{{att.attendance}}" [ngClass]="{'attendance-dot-red' : att.attendance == 'A',
                        'attendance-dot-green' : att.attendance == 'P', 'attendance-dot-yellow' : att.attendance == 'H'}"></span>
                </td>
                <td>
                  <select class="select form-control Attendance-{{i}}" name="Attendance-{{i}}" [disabled]="isAttendanceDone" [(ngModel)]="emp.todayAttendance">
                    <option *ngFor="let item of attendanceParams" value="{{item}}">{{item}}</option>
                  </select>
                </td>
                <td>{{emp.month1Count}}</td>
                <td>{{emp.month2Count}}</td>
                <td>{{emp.month3Count}}</td>
                <td>{{emp.startDate | parseDate}}</td>
                <td>{{emp.phone}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Project Employee Table ends-->
      </div>
    </div>
  </div>
</div>